{% extends 'base.html.twig' %}

{% block titre %}Accueil{% endblock %}

{% block contenu %}
<h1 class="mt-4"> Bienvenue sur Airsoft Shop !</h1>

    <img src="{{ asset('/img/img.png') }}" alt="Symfony" class="roquette"/>
{% endblock %}
